.header__left,
.header__right {
  border-left: var(--main-border);
  border-right: var(--main-border);
  color: white;
  text-transform: uppercase;
  height: 100%;
  display: grid;
}
.header__left {
  grid-column: 1/2;
  grid-template-rows: 5fr 4fr;
}
.header__right {
  background-color: #40ac49;
  grid-column: -2/-1;
  grid-template-rows: 4fr 5fr;
}

.header__icon,
.columntext {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.header__right__top {
  border-bottom: var(--main-border);
}
.header__right__top,
.header__right__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header__left__top {
  background-color: var(--main-red-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.left_top__rotate {
  transform: skew(20deg, 0deg);
}
.header__left__bottom {
  background-color: white;
  color: var(--main-red-color);
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.spicy {
  border-top: var(--main-border);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  letter-spacing: 0.1rem;
}

.header__icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
