@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  padding: 20px;
  color: #393839;
  font-size: 15px;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 3.6fr;
  border: 2px solid black;
  height: 100%;
}

nav {
  padding: 15px;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one > h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 23px;
}

.one li {
  border-top: 1px solid black;
  padding: 7px 15px;
  margin: 0px -15px;
}

.one li:first-child {
  background-color: #eeeeee;
}

.one li:last-child {
  border-bottom: 1px solid black;
}

.two {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two > .contact > p:first-child {
  margin-bottom: 10px;
}

.two > .adress > h3 {
  font-weight: bold;
}

.two > .adress > p:nth-child(2) {
  margin: 5px 0px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4.3fr 1fr;
}

main > .home {
  padding: 15px;
  padding-right: 35px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.home > .title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
}

.home > .title > h1:nth-child(2) {
  margin: 7px 0px;
}

.home > p:last-child {
  margin-top: 15px;
}

.home > p {
  line-height: 20px;
}

.first-picture {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-image: url('https://images.unsplash.com/photo-1518455027359-f3f8164ba6bd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8aG9tZSUyMG9mZmljZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
}

.second-picture {
  border-bottom: 2px solid black;
  display: grid;
  grid-template-rows: 2.2fr 1fr 1fr;
}

.second-picture > .one-picture {
  border-bottom: 2px solid black;
  background-image: url('https://images.unsplash.com/photo-1551965931-45863f848ed5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGxvYmJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
}

.second-picture > .three-picture {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-bottom: 2px solid black;
}

.three-picture > div:first-child {
  grid-row: 1 / 3;
  background-image: url('https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
  border-right: 2px solid black;
}

.three-picture > div:nth-child(2) {
  border-bottom: 2px solid black;
  background-image: url('https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
}

.three-picture > div:last-child {
  background-image: url('https://images.unsplash.com/photo-1548109726-6d4384358524?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGVzayUyMCUyMCU1Q2Rpc2h8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
}

.second-picture > .two-picture {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
}

.two-picture > div:first-child {
  background-image: url('https://images.unsplash.com/photo-1598300042247-d088f8ab3a91?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fG9mZmljZSUyMGNoYWlyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
  border-right: 2px solid black;
}

.two-picture > div:last-child {
  background-image: url('https://images.unsplash.com/photo-1517502884422-41eaead166d4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG9mZmljZSUyMGNoYWlyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
}

main > .services {
  padding: 15px;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services > div {
  font-size: 23px;
  line-height: 30px;
}

.third-picture {
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 3.8fr;
}

.third-picture > div:first-child {
  background-image: url('https://images.unsplash.com/photo-1577095688357-e4955b1dc91c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjB8fG9mZmljZSUyMHdyaXRlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
  border-right: 2px solid black;
}

.third-picture > div:nth-child(2) {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-right: 2px solid black;
}

.third-picture > div:nth-child(2) > div:first-child {
  background-image: url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8b2ZmaWNlJTIwc3R1ZHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
  border-bottom: 2px solid black;
}

.third-picture > div:nth-child(2) > div:last-child {
  background-image: url('https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fG9mZmljZSUyMHN0dWR5fGVufDB8fDB8&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
}

.third-picture > div:last-child {
  background-image: url('https://images.unsplash.com/photo-1531972111231-7482a960e109?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8b2ZmaWNlJTIwYnVpbGRpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
}
